<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<OAuthV2 name="{{ policy.name | escape }}">
  <DisplayName>{{ policy.name | escape }}</DisplayName>
  <Operation>VerifyAccessToken</Operation>
{% for scope in policy.scopes %}  <Scope>{{ scope | escape }}</Scope>
{% endfor %}</OAuthV2>
