<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<{{ policy.element | escape_xml }} name="{{ policy.name | escape_xml }}">
  <DisplayName>{{ policy.name | escape_xml }}</DisplayName>
  <Options>
    <OutputVariable>{{ policy.output_variable }}</OutputVariable>
    <Source>{{ policy.source }}</Source>
  </Options>
</{{ policy.element | escape_xml }}>
